div
    input.checkbox(id="checkbox-name" type="checkbox" value="true" checked="")
    label(for="checkbox-name") Checkbox with a label
hr

div
    input.checkbox(id="checkbox-name-2" type="checkbox" value="true")
    label(for="checkbox-name-2")
hr

div
    input.checkbox(id="checkbox-name-3" type="checkbox" value="true" disabled)
    label(for="checkbox-name-3") Disabled checkbox
hr

div
    input.radio(type="radio" id="radio-name-1" name="radio" value="1" checked="")
    label(for="radio-name-1") Radio 1
div
    input.radio(type="radio" id="radio-name-2" name="radio" value="2")
    label(for="radio-name-2") Radio 1
div
    input.radio(type="radio" id="radio-name-3" name="radio" value="2" disabled)
    label(for="radio-name-3") Disabled Radio
hr