div.custom-checkbox
    input(id="custom-checkbox-name" type="checkbox" value="true" checked="")
    label(for="custom-checkbox-name") Checkbox with a label
hr

div.custom-checkbox
    input(id="custom-checkbox-name-2" type="checkbox" value="true")
    label(for="custom-checkbox-name-2")
hr

div.custom-checkbox.custom-checkbox_disabled
    input(id="custom-checkbox-name-3" type="checkbox" value="true")
    label(for="custom-checkbox-name-3") Disabled checkbox
hr

div
    input.custom-radio(type="radio" id="custom-radio-name-1" name="custom-radio" value="1" checked="")
    label(for="custom-radio-name-1") Radio 1
div
    input.custom-radio(type="radio" id="custom-radio-name-2" name="custom-radio" value="2")
    label(for="custom-radio-name-2") Radio 1
div
    input.custom-radio(type="radio" id="custom-radio-name-3" name="custom-radio" value="2" disabled)
    label(for="custom-radio-name-3") Disabled Radio
hr