select.select
    option Default select
    option Second text
hr

select.select(disabled)
    option Disabled select
    option Second text
hr

select.select-custom
    option Custom select
    option Second text
hr

select.select-custom(disabled)
    option Disabled custom select
    option Second text
hr
