extends ../../_global/_demo-layout

block vars
    - pageTitle = "Global variables"
    - pageName = "vars"

block page
    .layout-main

        .demo-row
            .demo-title#demo-title-2 Colors
            .demo-desc
                | - Определяем все основные цвета тут. На основании данных переменных, присваиваются цвета в остальных стилях.<br>
                | - Имя переменной для цвета должно начинаться с префикса color-.

        .demo-row
            .demo-title#demo-title-3 Sizes
            .demo-desc
                | - Глобальные переменные по размерам элементов (например, элементов форм).<br>
                | - Имя переменной должно начинаться с перфикса size-.<br>

    .demo-panel.demo-panel_inner
        .demo-panel__section
            demo-panel__title ON THIS PAGE:
            ul.demo-panel__list
                li: a(href="demo/global-setup/vars#demo-title-1") Breakpoints
                li: a(href="demo/global-setup/vars#demo-title-2") Colors
                li: a(href="demo/global-setup/vars#demo-title-3") Sizes
        .demo-panel__section
            ul.demo-panel__list
                li: a(href="demo/global-setup/vars#") On the top