// =============================================================================
// Colors
// =============================================================================
$color-primary:   #1cbb69;
$color-secondary: #f6f6fa;
$color-bg:        #fff;

$color-placeholder:     #555;
$color-input-invalid:   #f00;
$color-controls-border: #ccc;
$color-controls-focus:  white;


// =============================================================================
// Sizes
// =============================================================================
$size-controls-height: 50px;
