* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-width: 320px; }

html,
body {
  height: 100%; }

.layuot-global {
  min-height: 100%;
  text-align: center; }

.layout-main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px; }
  @media (max-width: 1000px) {
    .layout-main {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main {
      padding-left: 25px; } }

.layout-main-irs {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px;
  padding-right: 30px; }
  @media (max-width: 1000px) {
    .layout-main-irs {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main-irs {
      padding-left: 25px; } }

.layout-footer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 1100px) {
    .layout-footer {
      padding: 0; } }
  @media (max-width: 1000px) {
    .layout-footer {
      margin-top: -22px; } }

.noscroll {
  overflow: hidden; }

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../fonts/SFUIDisplay-Regular.eot?") format("eot"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url('../fonts/SFUIDisplay-Regular.svg#str-replace("SFUIDisplay-Regular", " ", "_")') format("svg"); }

@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url("../fonts/SFUIDisplay-Medium.eot?") format("eot"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype"), url('../fonts/SFUIDisplay-Medium.svg#str-replace("SFUIDisplay-Medium", " ", "_")') format("svg"); }

@font-face {
  font-family: "SFUIDisplay-Black";
  src: url("../fonts/SFUIDisplay-Black.eot?") format("eot"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff"), url("../fonts/SFUIDisplay-Black.ttf") format("truetype"), url('../fonts/SFUIDisplay-Black.svg#str-replace("SFUIDisplay-Black", " ", "_")') format("svg"); }

.e-card-1 {
  width: 200px;
  display: block;
  padding-top: calc(188px + 40px);
  position: relative; }
  .e-card-1 a {
    text-decoration: none;
    margin-bottom: 10px;
    display: block; }

.e-card-1__pic {
  height: 188px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.e-card-1__pic_xs-s {
  display: none; }
  @media (min-width: 370px) and (max-width: 760px) {
    .e-card-1__pic_xs-s {
      display: block; } }

.e-card-1__pic_m {
  display: none; }
  @media (min-width: 760px) {
    .e-card-1__pic_m {
      display: block; } }

.e-card-1__label {
  position: absolute;
  top: 10px;
  right: 10px; }

.e-card-1__label_sale {
  background: #ff0000; }

.e-card-1__title {
  margin-bottom: 10px; }

.e-card-1__desc {
  margin-bottom: 10px; }

.e-card-1__price {
  font-weight: bold; }

.e-card-1__oldPrice {
  text-decoration: line-through;
  margin-left: 10px; }

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: #1cbb69;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (min-width: 370px) {
    .button {
      font-size: 14px; } }
  @media screen and (min-width: 1000px) {
    .button {
      font-size: 15px; } }
  @media screen and (min-width: 1100px) {
    .button {
      font-size: 16px; } }
  .button:hover {
    text-decoration: none; }

.button:disabled,
.button_disabled {
  cursor: auto;
  opacity: .4;
  pointer-events: none; }

.t-card a {
  text-decoration: none;
  margin-bottom: 10px;
  display: block; }

.t-card__pic {
  width: 100%;
  height: 188px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.t-card__title {
  margin-bottom: 10px; }

.t-card__desc {
  margin-bottom: 10px; }

.t-card__date {
  display: block;
  margin-bottom: 10px; }

.t-card__pic_xs-s {
  display: none; }
  @media (min-width: 370px) and (max-width: 760px) {
    .t-card__pic_xs-s {
      display: block; } }

.t-card__pic_m {
  display: none; }
  @media (min-width: 760px) {
    .t-card__pic_m {
      display: block; } }

.t-card_top {
  width: 200px;
  display: block;
  padding-top: calc(188px + 40px);
  position: relative; }
  .t-card_top .t-card__pic {
    position: absolute;
    top: 0;
    left: 0; }

.t-card_left,
.t-card_right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start; }
  .t-card_left .t-card__pic-col,
  .t-card_right .t-card__pic-col {
    width: 30%; }
  .t-card_left .t-card__text-col,
  .t-card_right .t-card__text-col {
    width: calc(70% - 200px); }

.t-card_right .t-card__pic-col {
  order: 2; }

.t-card_right .t-card__text-col {
  order: 1; }
