* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-width: 320px; }

html,
body {
  height: 100%; }

.layuot-global {
  min-height: 100%;
  text-align: center; }

.layout-main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px; }
  @media (max-width: 1000px) {
    .layout-main {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main {
      padding-left: 25px; } }

.layout-main-irs {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px;
  padding-right: 30px; }
  @media (max-width: 1000px) {
    .layout-main-irs {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main-irs {
      padding-left: 25px; } }

.layout-footer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 1100px) {
    .layout-footer {
      padding: 0; } }
  @media (max-width: 1000px) {
    .layout-footer {
      margin-top: -22px; } }

.noscroll {
  overflow: hidden; }

.layout-demo {
  margin-left: 220px;
  margin-right: 220px;
  min-height: 800px; }

.demo-row {
  margin-bottom: 100px; }
  .demo-row::before, .demo-row::after {
    content: ' ';
    display: table; }
  .demo-row::after {
    clear: both; }
  .demo-row .demo-title {
    background: #000;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
    color: #fff; }

.demo-panel {
  width: 220px;
  padding: 20px;
  background: #ddd;
  color: #313131;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
  font-family: Arial; }

.demo-panel__section {
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px; }

.demo-panel__title {
  font-weight: bold;
  margin-bottom: 3px; }

.demo-sub-title {
  margin-bottom: 4px;
  font-weight: bold; }

.demo-desc {
  margin-bottom: 25px; }

.demo-panel li {
  margin-bottom: 3px; }

.demo-panel a {
  color: #313131;
  text-decoration: underline; }

.demo-live-example {
  border: 4px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
  position: relative; }

@media (max-width: 1200px) {
  .layout-demo {
    margin-left: auto;
    margin-right: auto; }
  .demo-panel {
    display: none; } }

.demo-panel_inner {
  left: auto;
  right: 0;
  position: fixed; }
