* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-width: 320px; }

html,
body {
  height: 100%; }

.layuot-global {
  min-height: 100%;
  text-align: center; }

.layout-main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px; }
  @media (max-width: 1000px) {
    .layout-main {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main {
      padding-left: 25px; } }

.layout-main-irs {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 90px;
  padding-right: 30px; }
  @media (max-width: 1000px) {
    .layout-main-irs {
      padding-left: 50px; } }
  @media (max-width: 760px) {
    .layout-main-irs {
      padding-left: 25px; } }

.layout-footer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 1100px) {
    .layout-footer {
      padding: 0; } }
  @media (max-width: 1000px) {
    .layout-footer {
      margin-top: -22px; } }

.noscroll {
  overflow: hidden; }

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../fonts/SFUIDisplay-Regular.eot?") format("eot"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url("../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular") format("svg"); }

@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url("../fonts/SFUIDisplay-Medium.eot?") format("eot"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype"), url("../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium") format("svg"); }

@font-face {
  font-family: "SFUIDisplay-Black";
  src: url("../fonts/SFUIDisplay-Black.eot?") format("eot"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff"), url("../fonts/SFUIDisplay-Black.ttf") format("truetype"), url("../fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black") format("svg"); }

.input {
  border: 1px solid #ccc;
  height: 50px;
  padding: 0 11px; }
  @media screen and (min-width: 370px) {
    .input {
      font-size: 14px; } }
  @media screen and (min-width: 1000px) {
    .input {
      font-size: 15px; } }
  @media screen and (min-width: 1100px) {
    .input {
      font-size: 16px; } }
  .input:focus {
    background-color: white; }

.textarea {
  border: 1px solid #ccc;
  padding: 11px;
  width: 100%;
  height: 120px; }
  @media screen and (min-width: 370px) {
    .textarea {
      font-size: 14px; } }
  @media screen and (min-width: 1000px) {
    .textarea {
      font-size: 15px; } }
  @media screen and (min-width: 1100px) {
    .textarea {
      font-size: 16px; } }
  .textarea:focus {
    background-color: white; }

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: #1cbb69;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (min-width: 370px) {
    .button {
      font-size: 14px; } }
  @media screen and (min-width: 1000px) {
    .button {
      font-size: 15px; } }
  @media screen and (min-width: 1100px) {
    .button {
      font-size: 16px; } }
  .button:hover {
    text-decoration: none; }

.button:disabled,
.button_disabled {
  cursor: auto;
  opacity: .4;
  pointer-events: none; }

.select {
  border: 1px solid #ccc;
  height: 50px;
  padding: 0 11px;
  background-color: white; }
  .select:focus {
    background-color: white; }

.custom-select-wrap {
  border: 1px solid #ccc;
  height: 50px;
  width: auto;
  padding-right: 36px;
  min-width: 150px;
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 16px;
  background-color: white;
  padding-top: 5px; }

.custom-select-wrap select {
  height: 100%;
  opacity: 0;
  position: relative;
  width: calc(100% + 36px);
  cursor: pointer;
  color: black; }
  .custom-select-wrap select option {
    display: block;
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
    margin-top: 20px; }
    .custom-select-wrap select option:hover {
      background-color: #1cbb69;
      color: black; }

.custom-select-wrap_disabled {
  opacity: .4; }
  .custom-select-wrap_disabled select {
    cursor: default; }

.custom-select-text::after {
  background: transparent url("../img/registration/select.png") repeat scroll 0 0;
  content: "";
  width: 11px;
  height: 7px;
  position: absolute;
  right: 20px;
  top: 16px; }

.custom-select-text {
  display: block;
  line-height: 40px;
  overflow: hidden;
  padding: 0 0 0 15px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.custom-checkbox {
  display: inline-block; }

.custom-checkbox input {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  left: -1000px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1000; }

.custom-checkbox label {
  display: inline-block;
  margin-left: 34px;
  min-height: 19px;
  position: relative; }

.custom-checkbox label:before {
  content: "";
  display: block;
  height: 19px;
  width: 19px;
  overflow: hidden;
  background: url("http://csscheckbox.com/checkboxes/u/csscheckbox_cc483c9d8cd8f37fc10726a14959a7d0.png") no-repeat;
  cursor: pointer;
  position: absolute;
  left: -34px;
  top: 0; }

.custom-checkbox input:checked + label:before {
  background-position: 0 -19px; }

.custom-checkbox_disabled {
  opacity: 0.4;
  pointer-events: none; }

.custom-radio {
  display: none; }

.custom-radio + label {
  display: inline-block;
  margin-left: 34px;
  min-height: 19px;
  position: relative; }

.custom-radio + label:before {
  content: "";
  display: block;
  height: 19px;
  width: 19px;
  overflow: hidden;
  background: url("http://csscheckbox.com/checkboxes/u/csscheckbox_cc483c9d8cd8f37fc10726a14959a7d0.png") no-repeat;
  cursor: pointer;
  position: absolute;
  left: -34px;
  top: 2px; }

.custom-radio:checked + label:before {
  background-position: 0 -19px; }

.custom-radio:disabled + label {
  opacity: .4;
  pointer-events: none; }

.layout-form-vert-1 .layout-form-row {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: column; }
  .layout-form-vert-1 .layout-form-row .input {
    width: 100%; }

.layout-form-vert-2 .layout-form-row {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center; }
  .layout-form-vert-2 .layout-form-row label {
    width: 150px; }
  .layout-form-vert-2 .layout-form-row .input,
  .layout-form-vert-2 .layout-form-row .select-custom {
    width: calc(100% - 150px); }

.layout-form-inline .layout-form-row {
  margin-left: 50px;
  display: inline-block; }
  .layout-form-inline .layout-form-row:first-child {
    margin-left: 0; }
  .layout-form-inline .layout-form-row label {
    margin-right: 10px; }

.layout-form-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start; }
  .layout-form-column .layout-form-col-1 {
    width: 45%; }
  .layout-form-column .layout-form-col-2 {
    width: 100%; }
    .layout-form-column .layout-form-col-2 .button {
      width: 100%; }

.layout-form-column .layout-form-inline .layout-form-row {
  width: calc(50% - 50px);
  margin-left: 0; }
  .layout-form-column .layout-form-inline .layout-form-row:first-child {
    margin-right: 100px; }
