.demo-panel
    .demo-panel__section
        .demo-panel__title Результаты сборки
        ul.demo-panel__list
            li: a(href="components") Страница Components

    .demo-panel__section
        .demo-panel__title Global setup
        ul.demo-panel__list
            li: a(href="demo/global-setup/layout") Layout
            li: a(href="demo/global-setup/typography") Typography
            li: a(href="demo/global-setup/vars") Varialbles
            li: a(href="demo/global-setup/base-styles") Base styles

    .demo-panel__section
        .demo-panel__title Forms
        ul.demo-panel__list
            li: a(href="demo/forms/basic") Basic controls
            li: a(href="demo/forms/layouts") Form layouts

    .demo-panel__section
        .demo-panel__title Cards
        ul.demo-panel__list
            li: a(href="demo/cards/ecommerce") Ecommerce
            li: a(href="demo/cards/text") Text

    .demo-panel__section
        .demo-panel__title Navigation
        ul.demo-panel__list
            li: a(href="demo/navigation/menu") Menu
            li: a(href="demo/navigation/footer") Footer
            li: a(href="demo/navigation/simple") Simple

    .demo-panel__section
        .demo-panel__title Lists
        ul.demo-panel__list
            li: a(href="#") Demo

