.layout-footer
    a(id="contacts")
    footer.footer
        .footer__row-middle
            .footer__column.footer__logo-wrap
                .footer__logo
                    img(src="img/logo-black.png", alt="")
                .footer__copyright
                    span.footer__copyright_br International&nbsp;
                    | Reserve System <br> &copy; 2016

            .footer__column.footer__office
                ul
                    li.footer__title
                        .footer__display-block-mob Главный&nbsp;
                        | офис:
                    li New York
                    li 5 White Street, 2A
                    li New York, NY 10013
                    li Tel:&nbsp;
                        a.footer__display-for-ipad(href="tel:+12129663796") +1 212 966 3796

            .footer__column.footer__contacts
                ul
                    li.footer__title Контакты:
                    li Tel:&nbsp;
                        a(href="tel:+12129663796") +1 212 966 3796
                    li Mail:&nbsp;
                        a(href="mailto:welcome@irs.com") welcome@irs.com
            .footer__column.footer__social
                .footer__title
                    span.footer__display-block-mob мы в&nbsp;
                    span.footer__display-for-desc социальных&nbsp;
                    span.footer__display-for-ipad соц&nbsp;
                    |сетях
                ul.social
                    li: a(href="#").fa.fa-facebook
                    li: a(href="#").fa.fa-twitter
                    li: a(href="#").fa.fa-vk
                    li: a(href="#").fa.fa-youtube-play